<div class="identity">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
      <fa-icon [icon]="faUser"></fa-icon
    ></span>
        <input type="text" class="form-control" placeholder="Nom" aria-label="nom" aria-describedby="addon-wrapping" />
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
      <fa-icon [icon]="faUser"></fa-icon>
    </span>
        <input type="text" class="form-control" placeholder="Prénom" aria-label="prenom" aria-describedby="addon-wrapping" />
    </div>
</div>