<form #f="ngForm" novalidate>
    <div class="identity">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
        <fa-icon [icon]="faUser"></fa-icon>
      </span>
            <input type="text" name="first" class="form-control" placeholder="Nom" aria-label="nom" aria-describedby="addon-wrapping" />
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
        <fa-icon [icon]="faUser"></fa-icon>
      </span>
            <input type="text" name="last" class="form-control" placeholder="Prénom" aria-label="prenom" aria-describedby="addon-wrapping" />
        </div>
    </div>
    <div ng-app="myApp" ng-controller="myCtrl">
        <input class="form-control group-list" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." />
        <datalist id="datalistOptions">
      <option *ngFor="let list of list" value="{{ list.id }}">
        {{ list.name }}
      </option>
    </datalist>
    </div>
</form>