<form #f="ngForm" novalidate>
    <div class="identity">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
        <fa-icon [icon]="faUser"></fa-icon>
      </span>
            <input type="text" name="first" ngModel required #first="ngModel" class="form-control" placeholder="Nom" aria-label="nom" aria-describedby="addon-wrapping" />
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
        <fa-icon [icon]="faUser"></fa-icon>
      </span>
            <input type="text" name="last" ngModel required #last="ngModel" class="form-control" placeholder="Prénom" aria-label="prenom" aria-describedby="addon-wrapping" />
        </div>
    </div>
    <div ng-app="myApp" ng-controller="myCtrl">
        <input ngModel required #input1="ngModel" (change)="checkExiste(input1.value, 'input1')" name="input1" class="form-control group-list" list="datalistOptions" id="input1" placeholder="Type to search..." />
        <input ngModel required #input2="ngModel" (change)="checkExiste(input2.value, 'input2')" name="input2" class="form-control group-list" list="datalistOptions" id="input2" placeholder="Type to search..." />
        <datalist id="datalistOptions">
      <option *ngFor="let item of list" value="{{ item.libelle }}"></option>
    </datalist>
    </div>
</form>
<p>{{ input1.value }}</p>
<p>Form value: {{ f.value | json }}</p>